.tooltip {
	position: absolute;
	pointer-events: none;
	font-size: 11px;
	font-weight: bold;			
}

.label {
	font-weight: bold;
	font-size: 12px;
}

.descr {
	font-size: 12px;
}

.country {
	opacity: 0.8;
	fill: gray;
	
}

line {
	stroke: gray;
	opacity: 0.5;
}

.ax text {
	opacity: 0.5;
}

.domain {
	stroke: gray;
}
