.tooltip {
	position: absolute;
	pointer-events: none;
	font-size: 11px;
	font-weight: bold;			
}

.tooltip2 {
	position: absolute;
	pointer-events: none;
	font-size: 11px;
	font-weight: bold;			
}

.tooltip3 {
	position: absolute;
	pointer-events: none;
	font-size: 11px;
	font-weight: bold;			
}

.label {
	font-weight: bold;
	font-size: 12px;
}

.descr {
	font-size: 12px;
}

.country {
	opacity: 0.8;
	fill: gray;
	
}

line {
	stroke: gray;
	opacity: 0.5;
}

.ax text {
	opacity: 0.5;
}

.xaxis text {
	opacity: 0.5;
}

.yaxis text {
	opacity: 0.5;
}

.domain {
	stroke: gray;
}

.labelaxis {
	font-size: 12px;
	fill: gray;
	text-anchor: end;
}

.circleLabel {
	font-size: 12px;
	fill: gray;
}

.quotasLegend {
	font-size: 11px;
	fill: gray;
}

.voteLegend {
	font-size: 11px;
	fill: gray;
}
