---
---

@import "minima";

h2 {
	line-height: 120%;
}

h3 {
	color: gray;
	line-height: 130%;
}

/** 
 * Portfolio grid LIST **********************************************************
*/

.projectblock {

	height: 220px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.projectblock:after {
        content:"";
        display: table;
        clear: both;
}

.projectblock a {
    color: #404040;
}


.projectblock a:hover {
    color: #a6a6a6;
}




.column {
    float: left;
    
}

.left {
    width: 25%;
}

.right {
    width: 75%;
    height: 220px;
    background-color: #F0F0F0;
}

.right span {

	 display:inline-block;
	 margin: 20px;
}

/** 
 * Portfolio grid **********************************************************
*/

.projectgrid {
	width: 46%;
	height: 300px;
	float: left;
	vertical-align: middle;
	box-sizing: border-box;
	padding: 10px;
}

@media only screen and (max-width: 700px) {
	.projectgrid {
		width: 100%;
	}
	
	.thumbnail img{
		height: 300px;
		width: 300px;
	}
	
	.thumbnail {
		width: 290px;
	}
}

.thumbnail{
	width: 100%;
	height: 290px;
	overflow: hidden;
}
.thumbnai img{
	width: 300px;
	height: 300px;

}
.thumbnail a{
	float: left;
	position: relative;
	width: 100%;
	height: 300px;
}

.thumbnail h1 {
	line-height: 120%;
	font-size: 20px;
	font-weight: bold;
}

.thumbnail p {
	font-size: 14px;
}

.thumbnail a span {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: grey;
	color: white;
	padding: 20px;
	text-align: center;
	line-height: 120%;
}
.thumbnail a:hover span {
	display: block;
}


