---
---

@import "minima";


h1, h2, h3, h4, .site-title {
	font-family: Roboto;
}

h1, h4 {
	font-weight: bold;
	margin-bottom: 0;
}

h2 {
	line-height: 120%;

}

h3 {
	color: #b3b3b3;
	line-height: 130%;
	margin-top: 50px;
	font-weight: bold;
}

h5 {
	font-family: Roboto;
	color: #595959;
	line-height: 130%;
	font-size: 18px;
	font-weight: bold;
}

body {
	font-family: Krub;
}

hr {
	height: 0;
  border: 0;
	margin: 40px;
	width: 100%;
}


a.niceLink {
	color: #595959;
	background:lightgrey;
	font-weight: bold;
	padding: 1px 3px;
}

.niceLink:hover,  {
	background: grey;
	color: white;
	text-decoration:none;
}

.niceLink, .niceLink:visited {text-decoration:none;}

.greytext {
	color: grey;
	font-style: italic;
	font-size: 14px;
}

.description-text {
	text-align: justify;
	color: #808080;
	font-size: 12px;
}

.inspiration-text {
	padding-top: 50px;
}

.tete {
	height: 200px;
	width: auto;
}

.centered {
	text-align: center;
}


/**
 * Portfolio grid **********************************************************
*/

.hr-border {
	border: solid #f2f2f2 3px;
	margin-left: 0;
}

.hr-border-small {
	border: solid #f2f2f2 1px;
	margin-left: 0;
	margin-top: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

// highlight projects
.projecthighlight {
	width: 46%;
	height: 295px;
	border: solid #f2f2f2 3px;
	float: left;
	padding: 10px;
}

//clientsprojects
.clientsprojects {
	width: 47.5%;
	border: solid #f2f2f2 3px;
	float: left;
	//padding: 10px;
}

.client-description {
	font-size: 13px;
}

.client-img {
	height: 170px;
}

.client-text {
	padding: 10px;
	height: 150px;
}

.darkgrid {
	background-color: #f2f2f2 ;
	float: left;
}

// Standard projects
.projectgrid {
	width: 49%;
	height: 295px;
	float: left;
	vertical-align: middle;
	//padding: 10px;

	border: solid #f2f2f2 3px;

	// tests
	/*
	border: solid white 2px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, .3); */
	//margin: 10px;
}

@media only screen and (max-width: 700px) {
	.projectgrid, .projecthighlight, .clientsprojects {
		width: 300px;
	}


	.client-img {
		width: 320px;
	}
}

.thumbnail{
	width: 100%;
	overflow: hidden;
}

.standard {
	height: 295px;
}

.half {
	height: 170px;
}
.thumbnai img{
	//width: 300px;
}
.thumbnail a{
	float: left;
	position: relative;
	width: 100%;
	height: 300px;
}

.thumbnail h1 {
	line-height: 120%;
	font-size: 20px;
	font-weight: bold;
}

.thumbnail p {
	font-size: 14px;
}

.hover {
	float: left;
	position: relative;
	width: 100%;
	height: 300px;
}

.hover span {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: grey;
	color: white;
	padding: 20px;
	text-align: center;
	line-height: 120%;

}

.projecthighlight:hover span {
	display: block;
}

.thumbnail a span {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: grey;
	color: white;
	padding: 20px;
	text-align: center;
	line-height: 120%;
}
.thumbnail a:hover span {
	display: block;
}
